* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #faf9f6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.nav {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 40px;
}

.headerr a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.headerr button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cart-item {
    display: flex;
    width: calc(50% - 10px); /* 50% width with 10px gap */
    border: 1px solid #ccc;
    padding: 10px;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.item-info {
    flex: 1;
}

.item-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}

.update-form {
    margin-bottom: 10px;
}

.update-form input {
    width: 50px;
    margin-right: 10px;
}

.update-btn, .remove-btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.update-btn:hover, .remove-btn:hover {
    background-color: #555;
}

.total-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-code {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-code input {
    width: 150px;
    margin-right: 10px;
}

#buyBtn {
    padding: 10px 20px;
    background-color: #4CAF50; /* Groene achtergrondkleur */
    color: white; /* Witte tekstkleur */
    border: none; /* Geen rand */
    cursor: pointer; /* Cursor verandert in een handje bij hover */
    border-radius: 5px; /* Afgeronde hoeken */
    font-size: 16px; /* Tekstgrootte */
}

#buyBtn:hover {
    background-color: #45a049; /* Donkerdere groene kleur bij hover */
}
