 /* html {
    background-color: #faf9f6;
 }     */
.nav {
    height: 5vh;
    width: 100%;
    background-color: black;
    border: 1px solid black;
    left: 0;
    position: absolute;
    display: inline-block;
    top: 0;
}

.headerr {
    height: 7vh;
    width: 100%;
    background-color: white;
    right: 20px;
    left: 0;
    position: absolute;
    display: flex;
    gap: 20px;
    color: black;
    top: 41px;
    border-bottom: 1px solid gray; /* Kleur toegevoegd */
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.logo {
    height: 38px;
    width: 100px;
    margin: 0 auto; 
    
}
.headerr a {
    text-decoration: none;
    color: black;
    left: 10px;
    position: relative;
}
.shoppingcart {
    height: 28px;
    width: 65px;
    position: absolute;
    right: 0px;
}
.sell {
    height: 28px;
    width: 80px;
    position: absolute;
    right: 80px;
}
form {
    left: 20vw;
    position: absolute;
    border: none; /* Verwijder alle lijnen rond het formulier */
    
    outline: none;
}
.men, .woman, .all {
    color: blue;
    font-weight: 900;
}
.textheader {
    color: black;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    top: 15vh;
    left: 5vw;
    font-family: myFirstFont, Arial, sans-serif;
}
@font-face {
    font-family: myFirstFont;
    src: url('src/fonts/Fontspring-DEMO-integralcf-bold.otf');
}

.container {
    max-width: 1200px; /* of een andere waarde naar keuze */
    margin: 170px auto 0;
    padding: 30px;
    margin-left: 120px;
}

.textheader {
    font-size: 24px;
    font-weight: bold;
    
}
.producten {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative; 
    margin-left: 25vw; /* Voeg margin-left toe om de afstand vanaf de linkerrand in te stellen */
    margin-top: 5vh; /* Voeg margin-top toe om de afstand vanaf de bovenrand in te stellen */
}

#age {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    left: 7vw;
    position: absolute;
    top: 20vh; 
}

label {
    position:relative;
    left: 3vw;
    top: 2.5vh;
}

#price-range-form {
    position: absolute;
    top: 54vh;
    left: 2vw;

}

#range label {
    top: -3vh;
    left: 7vw;
}
#filter-form {
    position: absolute;
    left: 77vw;
}
.imageproduct {
    height: 200px;
    width: 200px;
}